<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cl.valposystems.sgi.dao.mapper.ActividadItoMapper">

	<select id="findAllActividadIto" resultType="actividadItoto">
		SELECT DISTINCT (CONCAT(U.NOMBRE_USUARIO, ' ', U.APELLIDO_USUARIO)) As nombreIto , COUNT(A.ID_ACTIVIDAD) AS cantActivIto
		FROM SGI_ACTIVIDAD A
		INNER JOIN SGI_USUARIO U ON U.ID_USUARIO = A.ID_USUARIO
		INNER JOIN SGI_ROL R ON R.ID_ROL = U.ID_ROL
		WHERE U.VIGENCIA = 1
		AND U.ID_ROL = 3
		 <if test = "fechaInicio != null and fechaTermino != null">
			AND A.FECHA_INICIO BETWEEN #{fechaInicio} and #{fechaTermino}
		</if>
		GROUP BY U.NOMBRE_USUARIO
	</select>	
</mapper>